; vi:syntax=ini
; See https://coverage.readthedocs.org/en/coverage-4.0.3/config.html

[run]
data_file = .coverage
source =
    {{ cookiecutter.project_slug }}

; debug = config
; branch = False
; include =
;    {{ cookiecutter.project_slug }}/
; omit =
;     tests/

[report]
show_missing = True

; fail_under = 80
; omit =
;     {{ cookiecutter.project_slug }}/_compat.py

; exclude_lines =
;     (?i)#\s*pragma[:\s]?\s*no\s*cover
; include_errors = False
; include =
;     {{ cookiecutter.project_slug }}/
; skip_covered = False

[html]
directory = .htmlcov
title = {{ cookiecutter.project_slug }} Coverage Report
